
h1, h2, h3, h4, h5, h6, p {
    margin: 10px ;
}
.forecastStats h3, h6 {
    margin: 5px 25px;
}
ul {
    list-style: none;
    padding: 0;
    font-weight: 500;
}

div.widget {
    margin: 10px;
    padding: 20px;
    border: 2px solid #e3e3e3;
    border-radius: 20px;
    background-color: #e3e3e3;
    box-shadow: 2px 2px 3px .50px #f95959;
}
div.icon {
    font-size: 70px;
    margin: 10px ;
    display: inline;
}

div.maintemp, div.date {
    margin: 10px auto;
}

div.locationbuttongrp {
    text-align: left;
}

span.stat {
    color:#f95959;
}

form.search {
    display: inline;
}

input.search:hover {
    background-color: #233142;
    color: #e3e3e3
}
button.location, input.search, button.location-current {
    color: #233142;
    font-weight: 500;
    border-radius: 20px;
    padding: 5px 15px;
    border-style: none;
    margin: 5px 5px;
    background-color: #e3e3e3;
    transition: all 200ms ease-in-out;
    box-shadow: 1px 1px 1px .25px #455d7a;
}

button.location:hover {
    background-color: #233142;
    color:#e3e3e3
    
}

button.location.clicked {
    background-color: #f95959;
}

button.location.clicked:hover {
    color: #233142
}

button.location-current {
    background-color: #348aec;
}

div.unitbuttongrp {
    text-align: right;
}

button.unit {
    color: #233142;
    font-weight: 500;
    border-radius: 20px;
    padding: 5px 12px;
    border-style: none;
    margin: 5px 1px;
    background-color: #e3e3e3;
    transition: all 200ms ease-in-out;
    box-shadow: 1px 1px 1px .25px #455d7a;

}

button.unit:hover {
    background-color: #233142;
    color: #e3e3e3
}

button.unit.clicked {
    background-color: #f95959;
}

button.unit.clicked:hover {
    color: #233142
}

.header {
    margin: 50px;
}

.first-color {
    background: #233142;
}

.second-color {
    background: #455d7a;
}

.third-color {
    background: #f95959;
}

.fourth-color {
    background: #e3e3e3;
}